---
import { contentfulClient } from "../../lib/contentful";

export async function getStaticPaths() {
    const contents = await contentfulClient.getEntries({
        content_type: 'blog',
    });
    return contents.items.map((item) => ({
        params: {
            slug: item.fields.slug,
        },
        Props: {
            title: item.fields.title,
            updatedAt: new Date(item.sys.updatedAt).toLocaleDateString(),
            eyecatch: item.fields.eyecatch.fields.file.url,
            markdown: item.fields.markdown,
        },
    }));
}
const { slug } = Astro.params;
const { title, updatedAt, eyecatch, markdown } = Astro.props;
---

<img src={eyecatch} alt={title}>
<h1>{title}</h1>
<p>{updatedAt}</p>
<article set:text={markdown}></article>
