---
import type { MarkdownLayoutProps } from "astro";
import Layout from "./Layout.astro";
import Link from "@components/Link.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  author: string;
  updatedAt: string;
  tag: string[];
  cover?: string;
}>;

const { frontmatter: blog } = Astro.props;

const date = new Date(blog.updatedAt);
const formattedDate =
  date.getFullYear() +
  "/" +
  String(date.getMonth() + 1).padStart(2, "0") +
  "/" +
  String(date.getDate()).padStart(2, "0");

  console.log("ðŸ˜¨ðŸ˜¨ðŸ˜¨", blog.cover)
---

<Layout title={`${blog} | timtim.tech`}>
  <main class="w-full max-w-5xl mx-auto px-5 my-10">
    <div class="Header flex flex-col items-center">
      <!-- æ®‹å¿µãªãŒã‚‰frontmatterã‹ã‚‰ã‚µãƒ ãƒã‚¤ãƒ«å‚ç…§ã§ããªã„ã£ã½ã„ -->
      <img
        class="h-full w-full max-w-[800px] mx-auto my-10 rounded-xl border"
        src={blog.cover}
        alt="ã‚µãƒ ãƒã‚¤ãƒ«ç”»åƒ"
      />
      <h1 class="max-w-[800px] text-2xl leading-[1.6]">{blog.title}</h1>
      <div class="my-4 flex gap-5">
        <p>
          <span>ç­†è€…: </span>
          <Link classes="" href={`https://x.com/${blog.author}`}
            >@{blog.author}</Link
          >
        </p>
        <p>æœ€çµ‚æ›´æ–°: {formattedDate}</p>
      </div>
      <ul>
        {blog.tag.map((tag) => <li>{tag}</li>)}
      </ul>
    </div>
    <div class="Contents">
      <slot />
    </div>
  </main>
</Layout>
